html {
    cursor: default;
	height: 100%;
	width: 100%;
}

body {
    font: 11pt/15pt "Segoe UI";
    background-color: #1E8CBE;
	background-image: url('/images/wpbg.png');
	background-size: cover;
    color: #fff;
    height: 100%;
    width: 100%;
}

#contenthost {
    height: 100%;
    width: 100%;
}

.fragment {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 180px 1fr 0px;
}

.posts-list progress.win-ring {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 45%;
    top: 45%;
    color: #fff;
}

div.error {
    width: 100%;
    position: absolute;
    margin: 0 auto 0 auto;
    text-align: center;
    top: 45%;
    color: #fff;
}

header[role=banner] {
	-ms-grid-row: 1;
    /* Define a grid with columns for the back button and page title. */
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
}

header[role=banner] .win-backbutton {
    margin-left: 39px;
    margin-top: 59px;
}

header[role=banner] .titlearea {
    -ms-grid-column: 2;
    margin-top: 37px;
}

.reader-filter header[role=banner] .titlearea {
    overflow: visible;
}

header[role=banner] .titlearea .titlelogo {
    width: auto;
    height: 95%;
    vertical-align: middle;
    margin-bottom: 14px;
}

header[role=banner] .titlearea .pagetitle {
    width: calc(100% - 20px);
    letter-spacing: 0;
}

header[role=banner] #tabs {
    font-size: 20pt;
    line-height: 24pt;
    margin: 0 0 0 118px;
    padding: 28px 0 0 0;
    height: 35pt;
	-ms-grid-row: 2;
    width: 100%;
}

header[role=banner] #tabs li {
	display: inline-block;
	list-style: none;
	padding-right: 12px;
	font-weight: 300;
    white-space: nowrap;
    color: #78c8e6;
}

header[role=banner] #tabs li a {
    color: #fff;
}

.fragment {
	height: 100%;
}

section[role=main] {
    height: 100%;
    width: 100%;
	-ms-grid-row: 2;
}

#refresh .win-commandimage::before {
    content: "\e149";
}

#follow .win-commandicon {
    background-image: url('/images/follow.svg');
}

#follow:hover:active .win-commandicon {
    background-image: url('/images/follow-dark.svg');
}

#follow.selected .win-commandicon {
    background-image: url('/images/following-dark.svg');
}

#follow.selected:hover .win-commandicon {
    background-image: url('/images/unfollow-dark.svg');
}

#reblog .win-commandicon {
    background-image: url('/images/reblog.svg');
}

#reblog.selected .win-commandicon,
#reblog:hover:active .win-commandicon {
    background-image: url('/images/reblog-dark.svg');
}

#like .win-commandimage::before {
    content: "\e0b4";
}

#openinbrowser .win-commandimage::before {
    content:  "\e128";
}

#viewblog {
    float: right;
}

#viewblog .win-commandicon {
    background-image: url('/images/viewblog.svg');
}

#viewblog:hover:active .win-commandicon {
    background-image: url('/images/viewblog-dark.svg');
}

.win-commandicon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px, 32px;
    font-family: "Segoe UI Symbol";
}

.win-command.selected .win-commandicon,
.win-command:hover:active .win-commandicon {
    background-color: #fff;
}

.win-command.selected .win-commandimage::before,
.win-command:hover:active .win-commandimage::before {
    color: #005684;
}

.win-appbar {
	background-color: #005684;
}

.win-appbar .win-commandimage {
    margin-top: -3px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.win-contentcaption {
    font-size: 9pt;
}

.win-body {
    font-size: 11pt;
    font-weight: 300;
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    header[role=banner] {
        -ms-grid-columns: 100px 1fr;
    }

    header[role=banner] .win-backbutton {
        margin-left: 29px;
    }

    header[role=banner] #tabs {
        margin-left: 100px;
    }
}

@media (-ms-high-contrast) {
    .win-commandicon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 32px, 32px;
        font-family: "Segoe UI Symbol";
    }
    .selected .win-commandicon {
        background-color: #fff;
    }
    .selected .win-commandimage::before {
        color: #000;
    }
    #follow .win-commandicon {
        background-image: url('/images/follow.svg');
    }

    #follow:hover:active .win-commandicon {
        background-image: url('/images/follow-hc.svg');
    }

    #follow.selected .win-commandicon {
        background-image: url('/images/following-hc.svg');
    }

    #follow.selected:hover .win-commandicon {
        background-image: url('/images/unfollow-hc.svg');
    }

    #reblog .win-commandicon {
        background-image: url('/images/reblog.svg');
    }

    #reblog.selected .win-commandicon,
    #reblog:hover:active .win-commandicon {
        background-image: url('/images/reblog-hc.svg');
    }
    #viewblog .win-commandicon {
        background-image: url('/images/viewblog.svg');
    }

    #viewblog:hover:active .win-commandicon {
        background-image: url('/images/viewblog-hc.svg');
    }
}

@media screen and (-ms-view-state: snapped) {
	.fragment {
		display: -ms-grid;
		-ms-grid-columns: 1fr;
		-ms-grid-rows: 120px 1fr 0px;
	}
}