.post header[role=banner] h1 {
    margin: 44px 330px 0 0;
    font-size: 34pt;
}

.post header[role=banner] .postActions {
    position: absolute;
    top: 65px;
    right: 45px;
}

.post header[role=banner] .postActions span {
    display: inline-block;
	padding: 7px 14px 7px 37px;
    background-position: 14px 50%;
    background-repeat: no-repeat;
    background-size: 16px, 16px;
}

.post header[role=banner] .postActions span:hover {
	background-color: rgba( 0, 0, 0, 0.07 );
}

.post header[role=banner] .postActions .follow {
	background-image: url('/images/follow.svg');
}

.post header[role=banner] .postActions .following {
    background-image: url('/images/following.svg');
}

.post header[role=banner] .postActions .reblog {
	background-image: url('/images/reblog.svg');
    background-size: 18px, 18px;
}

.post header[role=banner] .postActions .like {
	background-image: url('/images/like.svg');
}

.post header[role=banner] .postActions .reblog.active {
	background-color: rgba( 29, 95, 125, 0.95 );
}

.post header[role=banner] .postActions .liked,
.post header[role=banner] .postActions .liked:hover,
.post header[role=banner] .postActions .reblogged,
.post header[role=banner] .postActions .reblogged:hover,
.post header[role=banner] .postActions .following,
.post header[role=banner] .postActions .following:hover {
	background-color: #21759b;
    color: #fff;
}

.post header[role=banner] .postActions .reblogUI {
	position: absolute;
	top: 32px;
	left: 0;
	width: 300px;
	height: 190px;
	background-color: rgba( 29, 95, 125, 0.95 );
	display: none;
	padding: 15px;
}

.post header[role=banner] .postActions .reblogUI textarea {
	height: 125px;
	width: 280px;
}

.post header[role=banner] .postActions .reblogUI input[type=button] {
	float: right;
	margin-top: 13px;
}
.post section[role=main] {
    display: block;
    overflow-x: auto;
    margin: -35px 0 0 0;
    padding-bottom: 35px !important; 
    overflow-y: hidden;
}

.post section[role=main] article {
    column-fill: balance;
    column-width: 480px;
    column-gap: 80px;
    height: 95%;
    width: 480px;
    margin-left: 120px;
    margin-right: 60px;

}

.post section[role=main] article img {
	max-width: 100%;
}

.post section[role=main] article div.meta {
    margin-bottom: 20px;
    font-size: 0.9em;
    line-height: 1.4em;
    overflow: hidden;
}

.post section[role=main] article div.meta img {
    vertical-align: middle;
    float: left;
}

    .post section[role=main] article div.meta div.meta-txt {
        margin-left: 50px;
    }


/* Media Styles */

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto;
}

img.size-full,
img.size-large {
    max-width: 100%;
    width: auto;
    height: auto;
}

img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.alignleft,
.alignright,
.aligncenter {
    margin-bottom: 0.9em;
    margin-top: 0.5em;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: rgba(0,0,0,0.05);
    padding: 10px;
    max-width: 100%;
    break-inside: avoid;
    max-height: 100%;
}

.wp-caption img[class*="wp-image-"] {
    width: 100%;
    height: auto;
}

.wp-caption-text,
.wp-caption-dd {
    margin: 0;
    padding: 0;
}

object, embed, video, iframe {
    max-width: 100%;
}

/* Typography */

.post section[role=main] article .content {
    font-family: "Segoe UI";
    line-height: 1.6em;
}

.post section[role=main] article .content p {
    font-weight: normal;
}

/* --- */


.post section[role=main] .image {
    width: 460px;
    height: 240px;
    background: rgba(209, 211, 212, 1);
}

.post section[role=main] p {
    margin-right: 20px;
}

@media screen and (-ms-view-state: snapped) {
.post .win-contentTitle {
    font-size: 11pt;
    line-height: 15pt;
}

.post header[role=banner] {
    display: -ms-grid;
    -ms-grid-columns: 44px 1fr 200px;
    -ms-grid-rows: 1fr;
}

.post section[role=main] .image {
    width: 260px;
    height: 140px;
}

.post section[role=main] article {
     display: -ms-grid;
    -ms-grid-columns: 290px 1fr;
    -ms-grid-rows: 1fr;
    -ms-grid-row: 2;
    width: 290px;
    margin-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
}
