.win-semanticzoom {
	height: 100%;
}

.posts-list {
    width: 100%;
	min-height: 252px;
    height: 100%;
    margin-bottom: 4px;
}

.posts-list .win-horizontal.win-viewport .win-surface {
	margin-top: -72px;
	height: 100%;
    margin-bottom: 60px;
}

.posts-list.win-listview .win-groupheader {
	top: 78px;
}

.posts-list.win-listview .win-groupheader .headerTemplateText {
	background-color: rgba( 0, 86, 132, 0.9 );
	height: 52px;
	width: 52px;
	border-radius: 25px;
	font-size: 12pt;
	line-height: 12pt;
	margin-left: 14px;
    font-weight: 300;
}

.posts-list.win-listview .win-template.win-groupheader, .posts-list.win-listview .win-template.win-groupheader .headerTemplateText {
	z-index: 10;
}

.posts-list.win-listview .win-groupheader .headerTemplateText .group-month-short {
	padding-top: 9px;
    color: #78C8E6;
	text-align: center;
}

.posts-list.win-listview .win-groupheader .headerTemplateText .group-day-number {
	color: #fff;
	text-align: center;
}

.posts-list .win-container {
	margin-right: 8px;
	margin-bottom: 8px;
	background-color: rgba( 0, 86, 132, 0.5 );
}

.posts-list .win-item {
    width: 252px;
    height: 244px;
}

.posts-list .win-container:hover {
	background-color: rgba( 0, 86, 132, 0.8 );
    outline-color: rgb( 120, 200, 230 );
}

.posts-list .win-selected, .posts-list .win-item:focus, .posts-list .win-item:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.posts-list .post {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 92px;
}  

.zoomout-list .win-surface {
	margin-top: 8%;
	height: 92%;
    padding-right:  120px;
}

.zoomout-list .win-container {
	margin-right: 8px;
	margin-bottom: 8px;
	background-color: rgba( 0, 86, 132, 0.5 );
}

.zoomout-list .win-item {
    width: 176px;
    height: 200px;
}

.zoomout-list .win-container:hover {
	background-color: rgba( 0, 86, 132, 0.8 );
    outline-color: rgb( 120, 200, 230 );
}

.zoomout-list .win-selected, .zoomout-list .win-item:focus, .zoomout-list .win-item:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.zoomout-list .zoomoutItem {
    width: 100%;
    height: 100%;
    display: -ms-grid;
	padding: 2px 0 0 2px;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 56px 10px 1fr;
}

.zoomoutItem .thumbnails {
	-ms-grid-row: 1;
}

.zoomoutItem .thumbnails img {
	padding-right: 2px;
}

.zoomoutItem .group-date {
	-ms-grid-row: 3;
    margin: 7px 0 0 12px;
    font-weight: 300;
}

.zoomoutItem .group-date .day-name, .zoomoutItem .group-date .month-name {
	font-size: 20pt;
	line-height: 28px;
    color: #78C8E6;
}

.zoomoutItem .group-date .day-number {
	font-size: 42pt;
	line-height: 52px;
	color: #fff;
    font-weight: 200;
}

.win-semanticzoom .win-groups.win-listview > .win-horizontal .win-surface {
    margin-left: 46px;
}

.win-semanticzoom .win-listview > .win-horizontal .win-surface {
   margin-left: 116px;
}


.posts-list .post-image img {
    background-color: rgba(0, 86, 132, 0.5);
    width: 100%;
	-ms-grid-row: 1;
	opacity: 0;
	-ms-animation-duration: .75s;
}

.posts-list .post-image img.fadeIn {
	opacity: 1;
	-ms-animation-name: imgfadeIn;
}
	@-ms-keyframes imgfadeIn {
	  from {
	    opacity: 0;
	  }
	  to {
	    opacity: 1;
	  }
	}

.posts-list .post .large-post-data {
    padding: 4px 12px 8px;
	-ms-grid-row: 2;
}

.posts-list .post .post-title {
	font-weight: 400;
	padding: 0;
	margin: 0;
    font-size: 11pt;
    line-height: 15pt;
	color: #fff;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
}

.posts-list .post .post-meta {
    font-size: 9pt;
    line-height: 16pt;
    color: #78C8E6;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (-ms-view-state: snapped) {
    .reader-filter header[role=banner] .titlearea .titlelogo {
        margin-bottom: 9px;
        margin-left: 2px;
    }
    
    .reader-filter header[role=banner] .win-backbutton {
        display: none;
    }

    .reader-filter header[role=banner] .titlearea {
        -ms-grid-column: 1;
        margin-top: 24px;
        margin-left: 34px;
        height: 38px;
    }
    
    .reader-filter header[role=banner] ul#tabs {
        font-size: 20pt;
        line-height: 30pt;
        margin: 0 0 0 34px;
    }
    
    .reader-filter .win-semanticzoom .win-groups.win-listview > .win-horizontal .win-surface {
       margin-left: -40px;
    }

    .reader-filter .posts-list.win-listview .win-vertical .win-surface,
    .reader-filter .zoomout-list.win-listview .win-vertical .win-surface {
        margin: 0 28px;
        width: calc(100% - 56px);
    }

    .reader-filter .posts-list.win-listview .win-vertical .win-container {
        width:  250px !important;
    }

    .reader-filter .zoomout-list.win-listview .win-vertical .win-container {
        width:  176px !important;
    }
}
    
@media screen and (-ms-view-state: fullscreen-portrait) {
    .win-semanticzoom .win-groups.win-listview > .win-horizontal .win-surface {
       margin-left: 28px;
    }
}

@media (-ms-high-contrast) {
    .posts-list.win-listview .win-groupheader .headerTemplateText {
        background-color: ButtonFace;
    }
}