.posts-list {
    width: 100%;
	min-height: 252px;
    height: 100%;
    margin-bottom: 4px;
}

.posts-list .win-container {
	margin-right: 8px;
	margin-bottom: 8px;
	background-color: rgba( 0, 86, 132, 0.4 );
	-ms-animation-duration: .25s;
	-ms-animation-name: itemfadeOut;
}

.posts-list .win-container:hover {
    border-color: #78C8E6;
}

.posts-list .win-item {
    width: 252px;
    height: 252px;
}

.posts-list .win-container:hover {
    background-color: rgba( 0, 86, 132, 0.7 );
	-ms-animation-name: itemfadeIn;
}
	@-ms-keyframes itemfadeOut {
	  from {
	    background-color: rgba( 0, 86, 132, 0.4 );
	  }
	  to {
	    background-color: rgba( 0, 86, 132, 0.7 );
	  }
	}

	@-ms-keyframes itemfadeIn {
	  from {
	    background-color: rgba( 0, 86, 132, 0.7 );
	  }
	  to {
	    background-color: rgba( 0, 86, 132, 0.4 );
	  }
	}

.posts-list .win-selected, .posts-list .win-item:focus, .posts-list .win-item:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.posts-list .post {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 92px;
}

.posts-list .win-surface {
    margin-left: 118px;
}

.posts-list .post-image {
    background-color: rgba(0, 86, 132, 0.5);
}

.posts-list .post-image img {
    width: 100%;
	-ms-grid-row: 1;
	opacity: 0;
	-ms-animation-duration: .75s;
}

.posts-list .post-image img.fadeIn {
	opacity: 1;
	-ms-animation-name: imgfadeIn;
}
	@-ms-keyframes imgfadeIn {
	  from {
	    opacity: 0;
	  }
	  to {
	    opacity: 1;
	  }
	}

.posts-list .post .large-post-data {
    padding: 8px 12px;
	-ms-grid-row: 2;
}

.posts-list .post .post-title {
	font-weight: 400;
	padding: 0;
	margin: 0;
    font-size: 11pt;
    line-height: 15pt;
	color: #fff;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
}

.posts-list .post .post-meta {
    font-size: 9pt;
    line-height: 15pt;
    color: #78C8E6;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (-ms-view-state: snapped) {
    .fragment.freshlypressed {
        margin: -50px 0 0 -30px;
    }

    header[role=banner] ul#tabs {
        font-size: 16pt;
        line-height: 0pt;
    }

    .posts-list {
        margin-top: -10px;
    }
    
    .posts-list .win-surface {
        margin-left: 55px;
    }
    
    /* This is a hack for vertical win-container. Does the API support vertical gridlayout yet? */

    .win-container {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin-bottom: 15px !important;
    }

    .win-listview > .win-horizontal.win-viewport {
        overflow-y: scroll;
        overflow-x: hidden;
    } 
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .posts-list .win-surface {
        margin-left: 98px;
    }
}