.post .win-backbutton {
    border-color: #1E8CBE;
    color: #1E8CBE;
}

.post .win-backbutton:hover {
    border-color: #1E8CBE;
}

.post .win-backbutton:hover:active {
    border-color: #1E8CBE;
    background: #1E8CBE;
    color: #fff;
}


#reblogUI {
	width: 320px;
	height: 190px;
	background-color: #1E8CBE;
	padding: 12px 15px 10px;
}

#reblogUI textarea {
	height: 125px;
	width: 307px;
    padding: 4px 6px;
    border: none;
}

#reblogUI input[type=button] {
	float: right;
	margin: 10px 1px 0 0;
    background: none;
    border: 3px solid #fff;
    color: #fff;
}
.post section[role=main] {
    display: block;
    overflow-x: auto;
    margin: -35px 0 0 0;
    padding-bottom: 35px !important; 
    overflow-y: hidden;
}

.post section[role=main] article {
    column-fill: auto;
    column-width: 500px;
    column-gap: 80px;
    height: 95%;
    width: 500px;
    margin-left: 120px;
}

.post section[role=main] article img {
	max-width: 100%;
}

.post section[role=main] article div.meta {
    margin-bottom: 10px;
    line-height: 1.5em;
    overflow: hidden;
}

.post section[role=main] article div.meta img {
    vertical-align: middle;
    float: left;
}

    .post section[role=main] article div.meta div.meta-txt {
        margin-left: 50px;
    }


/* Media Styles */

.content img {
    display: block;
}

.content img[class*="align"],
.content img[class*="wp-image-"],
.content img[class*="attachment-"] {
    height: auto;
}

.content img.size-full,
.content img.size-large {
    max-width: 100%;
    width: auto;
    height: auto;
}

.content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    display: inline;
}

.content .alignleft,
.content .alignright,
.content .aligncenter {
    margin-bottom: 10px;
    margin-top: 10px;
}

.content .alignleft {
    display: inline;
    float: left;
    margin-right: 20px;
}

.content .alignright {
    display: inline;
    float: right;
    margin-left: 20px;
}

.content .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content .wp-caption {
    background: rgba(0,0,0,0.05);
    padding: 10px;
    max-width: 97%;
    break-inside: avoid;
    max-height: 100%;
    font-size: 9pt;
}

.content .wp-caption p {
    line-height: 14pt;
}

.content .wp-caption br {
    display: none;
}

.content .wp-caption img {
    width: 100%;
    height: auto;
}

.content .wp-caption .wp-caption-text,
.content .wp-caption .wp-caption-dd {
    margin: 4px 0 0;
    padding: 0;
}

object, embed, video, iframe {
    max-width: 100%;
}

/* Typography */

.win-body p {
    margin-bottom: 20pt;
    line-height: 20pt;
    text-align: left !important;
}

/* --- */


.post section[role=main] .image {
    width: 460px;
    height: 240px;
    background: rgba(209, 211, 212, 1);
}

@media screen and (-ms-view-state: snapped) {
    .fragment.post {
        overflow: auto;
        display: block;
    }
    
    .post .win-contentTitle {
        font-size: 11pt;
        line-height: 15pt;
    }

    .post header[role=banner] {
        display: block;
    }

    .post section[role=main] .image {
        width: 260px;
        height: 140px;
    }

    .post section[role=main] {
        overflow-y: visible;
        display: inline;
    }

    .post section[role=main] article {
        display: block;
        width: 280px;
        padding-left: 20px;
        margin-left: 0;
        padding-right: 20px;
        overflow-y: visible;
        overflow-x: visible;
        height: auto;
    }
    
    .post header[role=banner] .postActions {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        height: 60px;
    }

    .post header[role=banner] .postActions span {
        position: absolute;
        padding: 7px 9px 7px 37px;
        top: 12px;
        display: block;
    }
    
    .post header[role=banner] .postActions span.follow {
        left: 4px;
    }

    .post header[role=banner] .postActions span.reblog {
        width: 50px;
        margin-left: -40px;
        left: 50%;
    }

    .post header[role=banner] .postActions span.like {
        right: 6px;
    }

    .post header[role=banner] h1 {
        margin: 60px 0 30px 12px;
        font-size: 20pt;
        line-height: 1.2; /* 32px when font-size is 20pt */
        white-space: normal;
        overflow: visible;
        width: 244px;
        float: left;
    }

    .post header[role=banner] .win-backbutton {
        margin-top: 65px;
        margin-left: 18px;
        float: left;
    }

    .post section[role=main] {
        margin-top: 0;
    }

    .post section[role=main] .content img {
        height: auto;
    }
    
    .alignleft,
    .alignright,
    .aligncenter {
        clear: both;
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .post header[role=banner] .postActions .reblogUI {
	    position: absolute;
	    top: 46px;
	    right: 0;
	    width: 290px;
	    height: 190px;
        display: none;
	    background-color: #1E8CBE;
	    padding: 12px 15px 10px;
    }

    .post header[role=banner] .postActions .reblogUI textarea {
	    height: 125px;
	    width: 277px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .post section[role=main] article {
        margin-left: 104px;
    }

    .post header[role=banner] h1 {
        margin-right: 20px;
        margin-top: 80px;
    }

    .post header[role=banner] .win-backbutton {
        margin-top: 94px;
    }

    .post header[role=banner] .postActions {
        position: absolute;
        top: 30px;
        right: auto;
        left: 88px;
    }

    .post section[role=main] article {
        padding-top: 30px;
    }

    .post header[role=banner] .postActions .reblogUI {
        top: 100%;
        right: auto;
        left: 0;
    }
}