.targetContent {
    padding: 0 50px 0 36px;
}

body {
    overflow: hidden;
}

.targetContent textarea, .targetContent input[type=text] {
    font-family: "Segoe UI";
    color: #000;
    border: 2px solid #78c8e6;
    font-size: 11pt;
    padding: 6px;
    width: calc(100% - 16px);
}

.targetContent input[type=button] {
    background: #005684;
    color: #fff;
    border: 2px solid #fff;
    padding: 6px 15px;
    float: right;
    margin: 16px 0 0 0 !important;
    font-family: "Segoe UI";
    font-size: 11pt;
}

.targetContent input[type=button]:hover,
.targetContent input[type=button]:focus {
    border-color: #fff;
    background-color: #23a2cc;
}

.targetContent input[type=button]:hover:active {
    background-color: #f1831e;
    border-color: #f1831e;
    outline: 2px solid #fff;
}

.targetContent textarea:focus, .targetContent input:focus {
    border-color: #005684;
}

.targetContent textarea {
    height: 160px;
}

.targetContent span {
    line-height: 60px;
}

.targetContent input[type=text] {
    margin-bottom: 16px !important;
}

.targetContent progress {
    color: #fff;
    width: 100%;
}

.targetContent h3 {
    font-weight: 300;
    font-size: 20pt;
    color: #78c8e6;
    margin-top: 25px;
    margin-bottom: 20px; 
}