.targetContent {
    padding: 0 50px 0 36px;
}

body {
    overflow: hidden;
    background-position: -60px 0;
}

.targetContent textarea, .targetContent input[type=text] {
    font-family: "Calibri";
    color: #000;
    font-size: 13pt;
    padding: 6px;
    width: calc(100% - 12px);
    background:  rgba(255,255,255,0.8);
    border: none;
}

.targetContent textarea:hover, .targetContent input[type=text]:hover {
    background:  rgba(255,255,255,0.9);
} 

.targetContent textarea:focus, .targetContent input[type=text]:focus {
    background:  rgba(255,255,255,1);
}

.targetContent input[type=button] {
    background: #005684;
    color: #fff;
    border: 2px solid #005684;
    outline:  2px solid #fff;
    padding: 4px 13px;
    float: right;
    margin: 16px 2px 0 0 !important;
    font-family: "Segoe UI";
    font-size: 11pt;
}

.targetContent input[type=button]:hover,
.targetContent input[type=button]:focus {
    border-color: #23a2cc;
    background-color: #23a2cc;
}

.targetContent input[type=button]:hover:active {
    background-color: #f1831e;
    border-color: #fff;
    outline: none;
}

.targetContent textarea {
    height: 120px;
}

.targetContent span {
    line-height: 68px;
}

.targetContent input[type=text] {
    margin-bottom: 16px !important;
}

.targetContent progress {
    color: #fff;
    width: calc(100% + 86px);
    margin: 0 -50px 0 -36px;
}

.targetContent h3 {
    font-weight: 300;
    font-size: 20pt;
    color: #78c8e6;
    margin-top: 25px;
    margin-bottom: 20px; 
}

#thumbnailImage {
    border: 2px solid #78c8e6;
    max-height: 260px;
    max-width: 100%;
}

a.signinout {
    color: #78c8e6;
}